/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-mar-2018, 12:38:26
    Author     : Alumno
*/
body{
   
}
#formularioUsuario{
     width: 250px;
   background-color: orange;
    padding: 2em;
    margin: auto;
}
.cuerpoUsuario{
     width: 300px;
    border: 3px solid orange;
    background-color: orange;
    padding: 2em;
    margin: auto;
    margin-top: 2em;
}
label{
    margin-bottom: 1em;
}
input{
    margin-bottom: 1em;
}
#envioUsuario{
    margin-top: 2.5em;
}